h1 {
  color: red;
  background: rgb(21, 255, 0);
}
.mau-vang {
  background-color: yellow !important;
  font-weight: 800;
}
.font-other {
  font-weight: 400;
}
#classic-color {
  color: violet;
}

.vd{
    display: flex;
    justify-content: center;
    align-items: center;
}